{% load static %}

<div class="answer">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                <img src="{% static '/img/avatar-1.png' %}" alt="" />
            </div>
            <div class="like">
                <span class="plus cursor">+</span> <span class="minus cursor">-</span> <span class="counter">0</span>
            </div>
        </div>
        <div class="col-10">
            <div class="question-text">
                {{ answer.text }}
            </div>
            <form class="form-check check-correct">
                <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                <label class="form-check-label" for="disabledFieldsetCheck">
                    Correct
                </label>
            </form>
        </div>
    </div>
</div>