{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="single-question">
    <div class="row">
        <div class="col-2">
            <div class="question-avatar">
                <img src="{% static '/img/avatar-1.png' %}" alt="" />
            </div>
            <div class="like">
                <span class="plus cursor">+</span> <span class="minus cursor">-</span>  <span class="counter">0</span>
            </div>
        </div>
        <div class="col-10">
            <h2 class="question-title">{{ question.title }}</h2>
            <div class="question-text">
                {{ question.text }}
            </div>
            <div class="row">
            <p>Tags:
                {% for tag in question.tags %}
                     <a href="{% url 'tag' tag_name=tag.tag_name_ %}">{{ tag.tag_name_ }}</a>
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
    <hr style="color: black">
    {% for answer in answers %}
        {% include 'include/answer_temp.html' %}
    {% endfor %}
    <script src="{% static "/js/like.js" %}"></script>
    {% include 'include/paginator.html' %}
        <hr style="color: black">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Enter your answer here</label>
        <button class="col-md-2 mb-3 mt-3 btn btn-outline-success" type="submit">Answer</button>
    </div>
{% endblock %}