{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h1>Tag: {{ tag_name }}</h1>
{% endblock %}

{% block content %}
    {% for question in questions %}
        {% include "include/quest_temp.html" %}
    {% endfor %}
    <script src="{% static "/js/like.js" %}"></script>
    {% include "include/paginator.html" %}
{% endblock %}


<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>